
*.cache
Api/obj/Debug/netcoreapp3.1/staticwebassets/Api.StaticWebAssets.xml
Api/obj/Debug/netcoreapp3.1/apphost.exe
Api/obj/Debug/netcoreapp3.1/Api.pdb
Api/obj/Debug/netcoreapp3.1/Api.MvcApplicationPartsAssemblyInfo.cs
Api/obj/Debug/netcoreapp3.1/Api.GeneratedMSBuildEditorConfig.editorconfig
Api/obj/Debug/netcoreapp3.1/Api.dll
Api/obj/Debug/netcoreapp3.1/Api.csproj.FileListAbsolute.txt
Api/obj/Debug/netcoreapp3.1/Api.assets.cache
Api/obj/Debug/netcoreapp3.1/Api.GeneratedMSBuildEditorConfig.editorconfig
Api/obj/Debug/netcoreapp3.1/Api.assets.cache
.vs/CsHackathon/DesignTimeBuild/.dtbcache.v2
.vs/CsHackathon/v16/.suo
.vs/CsHackathon/DesignTimeBuild/.dtbcache.v2
.vs/CsHackathon/v16/.suo
Api/Api.csproj.user
.vs/CsHackathon/v16/.suo
Api/bin/Debug/netcoreapp3.1/Api.deps.json
Api/bin/Debug/netcoreapp3.1/Api.dll
Api/bin/Debug/netcoreapp3.1/Api.exe
Api/bin/Debug/netcoreapp3.1/Api.pdb
Api/bin/Debug/netcoreapp3.1/Api.runtimeconfig.dev.json
Api/bin/Debug/netcoreapp3.1/Api.runtimeconfig.json
Api/bin/Debug/netcoreapp3.1/appsettings.Development.json
Api/bin/Debug/netcoreapp3.1/appsettings.json
Api/bin/Debug/netcoreapp3.1/Microsoft.OpenApi.dll
Api/bin/Debug/netcoreapp3.1/Swashbuckle.AspNetCore.Swagger.dll
Api/bin/Debug/netcoreapp3.1/Swashbuckle.AspNetCore.SwaggerGen.dll
Api/bin/Debug/netcoreapp3.1/Swashbuckle.AspNetCore.SwaggerUI.dll
Api/obj/Debug/netcoreapp3.1/Api.assets.cache
Api/obj/Debug/netcoreapp3.1/Api.GeneratedMSBuildEditorConfig.editorconfig
Api/obj/Debug/netcoreapp3.1/Api.assets.cache
Api/obj/Debug/netcoreapp3.1/Api.GeneratedMSBuildEditorConfig.editorconfig
Api/obj/Debug/netcoreapp3.1/Api.assets.cache
Api/obj/Debug/netcoreapp3.1/Api.GeneratedMSBuildEditorConfig.editorconfig
Api/obj/Debug/netcoreapp3.1/Api.assets.cache
Api/obj/Api.csproj.nuget.g.targets
Api/obj/Api.csproj.nuget.dgspec.json
Api/obj/Api.csproj.nuget.g.props
Api/obj/Api.csproj.nuget.g.targets
Api/obj/Debug/netcoreapp3.1/Api.assets.cache
Api/obj/Debug/netcoreapp3.1/Api.GeneratedMSBuildEditorConfig.editorconfig
Api/obj/project.assets.json
Api/obj/project.nuget.cache
Api/obj/Api.csproj.nuget.dgspec.json
Api/obj/Api.csproj.nuget.g.props
Api/obj/Api.csproj.nuget.g.targets
Api/obj/Debug/netcoreapp3.1/Api.assets.cache
Api/obj/Debug/netcoreapp3.1/Api.GeneratedMSBuildEditorConfig.editorconfig
Api/obj/project.assets.json
.vs/CsHackathon/DesignTimeBuild/.dtbcache.v2
.vs/CsHackathon/v16/.suo
Api/obj/Api.csproj.nuget.dgspec.json
Api/obj/Api.csproj.nuget.g.props
Api/obj/Api.csproj.nuget.g.targets
Api/obj/Debug/netcoreapp3.1/Api.assets.cache
Api/obj/Debug/netcoreapp3.1/Api.GeneratedMSBuildEditorConfig.editorconfig
Api/obj/project.assets.json
Api/obj/project.nuget.cache
Api/obj/project.nuget.cache
Api/obj/project.assets.json
Api/obj/Debug/netcoreapp3.1/Api.GeneratedMSBuildEditorConfig.editorconfig
Api/obj/Debug/netcoreapp3.1/Api.csproj.AssemblyReference.cache
Api/obj/Debug/netcoreapp3.1/Api.assets.cache
Api/obj/Api.csproj.nuget.g.targets
Api/obj/Api.csproj.nuget.g.props
Api/obj/Api.csproj.nuget.dgspec.json
